#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 760px;
  margin: 8px auto;
  border-radius: 16px;
  padding: 48px 24px;
  background-color: #fff;
  min-height: 100%;
  position: relative; 
}

.container > :last-child {
  margin-top: 20px;
}
